{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<h1>Connexion</h1>
<p class="subtitle">Accédez à votre compte fidélité</p>

<form method="POST" action="{{ base_path }}/login" class="checkout-form">

    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" required>
    </div>

    <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" name="password" required>
    </div>

    <button class="btn btn-primary btn-full">Se connecter</button>

</form>

<div class="text-center mt-4">
    <p>Pas encore de compte ?</p>
    <a href="{{ base_path }}/register" class="btn btn-secondary">Créer un compte gratuitement</a>
</div>

{% endblock %}
