{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block content %}
<h1>Créer un compte</h1>
<p class="subtitle">Rejoignez le programme de fidélité ShopEasy</p>

<form method="POST" action="/register" class="checkout-form">

    <div class="form-group">
        <label>Nom</label>
        <input type="text" name="name" required>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" required>
    </div>

    <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" name="password" required>
    </div>

    <button class="btn btn-primary btn-full">S'inscrire</button>

</form>
{% endblock %}
